.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules/
npm-debug.log
false/
true/
undefined/

# jest unit test coverage
tests/coverage/unit-tests
junit.xml
